@use "/src/styles/partials.scss" as *;
@use "/src/styles/colors.scss" as *;

.inventorylist {
    &__element {
        border-top: 1px solid $divider;
        border-bottom: 1px solid $divider;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 1rem $mobile-indent;

        @include tablet {
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
            padding: 1rem $tablet-indent;
        }

        &:hover {
            background-color: $list-element-hover;
        }

        .table-cell {
            display: flex;
            flex-direction: column;
            width: 50%;
            margin-bottom:1rem;
            order:3;
            @include tablet {
                width: 25%;
            }
            &--empty{
                
                @include tablet {
                    display:none;
                }
            }
            &--first{
                order:0;
            }
            &--category{
                order:2;
                @include tablet{
                    order: 1;
                    
                }
            }
            &--status{
                order:1;
            }
            &--right {
                align-items: flex-end;
            }
        }


    }

    &__title {
        color: $text-table-header;
        margin: 0.5rem 0;

        @include tablet {
            display: none;
        }
    }

    &__content {
        font-weight: 600;
        margin-bottom: 0.5rem;
        &--instock{
            color:$label-in-stock;
            background-color: $label-in-stock-background;
            border-radius: 10px;
            width: 3.8125rem;
            text-align: center;
        }&--outofstock{
            color:$label-out-of-stock;
            background-color:$label-out-of-stock-background;
            border-radius: 10px;
            width: 5.375rem;
            text-align: center;
        }
    }

    &__link {
        color: $text-link;
        font-weight: 600;
    }
}

.icon-delete {
    background-color: rgba(#FFFFFF, 0);
    border: none;
    outline: none;
    width: 24px;
    height: 24px;
    background-image: url("../../assets/icons/delete_outline-24px.svg");
}

.icon-edit {
   color: $button-background;
    border: none;
    outline: none;
    width: 24px;
    height: 24px;
    background-image: url("../../assets/icons/edit-24px.svg");
}

.icon-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    order:3;
    @include tablet {
        justify-content: flex-end;
        column-gap: 1rem;
        width: 20%;
    }
}
.modal {
    background-color: white;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    @include tablet {
      display: flex;
      align-items: center;
      margin-top: 6rem;
      background-color: unset;
    }
    &-cancel {
      border-radius: 20px;
      border: 1px solid gray;
      background-color: white;
      color: #5c667e;
      width: 43%;
      @include tablet {
        width: 25%;
        margin-right: 2rem;
      }
    }
    &-delete {
      color: white;
      background-color: #c94515;
      border-radius: 20px;
      width: 43%;
      border: none;
      @include tablet {
        width: 25%;
      }
    }
    &-button__div {
      margin-bottom: 2rem;
      width: 100%;
      bottom: 0px;
      height: 36px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      position: absolute;
      @include tablet {
        position: static;
        width: 40%;
        justify-content: end;
        margin-right: 5rem;
      }
    }
    &-div {
      flex: 1;
      @include tablet {
        flex: none;
        background-color: white;
        width: 42rem;
        height: 16.375rem;
      }
    }
    &__title {
      margin-left: 4rem;
      margin-top: 3rem;
      font-size: 1.75rem;
      line-height: 2.25rem;
      font-family: TitilliumWeb;
      font-weight: 600;
  
      @include tablet {
        font-size: 2rem;
        line-height: 2.5rem;
        font-family: TitilliumWeb;
        font-weight: 600;
      }
    }
    &__text {
      margin-left: 4rem;
      margin-right: 2rem;
      font-size: 0.9375rem;
      line-height: 1.625rem;
      font-family: TitilliumWeb;
      font-weight: 400;
  
      @include tablet {
        font-size: 1rem;
        line-height: 1.75rem;
        font-family: TitilliumWeb;
        font-weight: 400;
        width: 34rem;
      }
    }
  
    .MuiModal-backdrop {
      background-color: white;
      display: flex;
      @include tablet {
        background-color: rgb(0, 0, 0, 0.5);
      }
    }
  }
  .button-style {
    display: flex;
    justify-content: end;
  }
  