@use "/src/styles/partials.scss" as *;
@use "/src/styles/colors.scss" as *;

.detailheader{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: $mobile-indent;
    border-bottom: 1px solid $divider;
    @include tablet{
        padding: $mobile-indent $tablet-indent;
        justify-content: flex-start;
    }
    &__title{
        @include tablet{
            margin-right:auto;
            margin-left: 1rem;
        }
    }
    &__back{
        background-color: rgba(black, 0);
        background-image: url("../../assets/icons/arrow_back-24px.svg");
        background-position: center;
        background-repeat: no-repeat;
        width:24px;
        outline:none;
        border:none;
        
    }&__edit{
        &--tablet{
            height:2.5rem;
            display:none;
            @include tablet{
                display:flex;
                flex-direction: row;
                align-items: center;
                padding:0 1rem;
                column-gap: 0.5rem;
                border:none;
                border-radius: 2rem;
                background-color: $button-background;
                color:$text-button;
            }
        }

        &--mobile{
         background-color: $button-background;
            border-radius: 50%;
            background-image: url("../../assets/icons/edit-button-24px.svg");
            background-position: center;
            background-repeat: no-repeat;
            width:36px;
            height:36px;
            outline:none;
            border:none;
            @include tablet{
                display:none;
            }
        }
    }
}
.details{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 1rem;
    padding: $mobile-indent;
    @include tablet{
        flex-wrap: nowrap;
        padding: $mobile-indent $tablet-indent;
    }
    &__title{
        width:100%;
        @include tablet{
            width:40%;
            border-right: 1px solid $divider;
            margin-right:1rem;
        }
    }
}