//Primary Colors
$text-primary: #13182C;
$interactive-primary: #0095FF;

//Secondary Colors
$table-header-text: #5C667E;
$text-placeholder: #5C667E;
$outline: #BDC5D5;
$divider: #BDC5D5;
$table-sort: #BDC5D5;

//Background Colors
$header-background: #232940;
$interactive-hover: #232940;
$page-background:#F7FBF9;
$table-header-background:#F7FBF9;
$interactive-background:#F7FBF9;

//Supporting Colors
$label-in-stock:#15B463;
$label-out-of-stock:#C94515;
