//Primary Colors
$text-primary: #13182C;
$text-link:#0095FF;
$text-button: #F7FBF9;

//Secondary Colors
$table-header-text: #5C667E;
$text-placeholder: #5C667E;
$outline: #BDC5D5;
$divider: #BDC5D5;
$table-sort: #BDC5D5;

//Background Colors
$header-background: #232940;
$button-hover: #232940;
$page-background:#F7FBF9;
$table-header-background:#F7FBF9;
$form-background:#F7FBF9;
$button-background:#0095FF;

//Supporting Colors
$label-in-stock:#15B463;
$label-out-of-stock:#C94515;
