@use "./colors.scss" as *;

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

@mixin tablet {
    @media(min-width:$tablet-breakpoint) {
        @content;
    }
}

@mixin desktop {
    @media(min-width:$desktop-breakpoint) {
        @content;
    }
}

@font-face {
    font-family: TitilliumWeb;
    src: url("../assets/fonts/TitilliumWeb-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: TitilliumWeb;
    src: url("../assets/fonts/TitilliumWeb-SemiBold.ttf") format("truetype");
    font-weight: 600;
}


//Changes the value of 1rem from 16px to 8px. 
html {
    font-size: 8px;
}

//Margins for these pages are consistent, so they're defined here as variables. 
$mobile-headline-top: 3rem;
$mobile-headline-bottom: 1rem;
$mobile-space-between: 2rem;
$mobile-indent: 2rem;

$tablet-headline-top: 6rem;
$tablet-headline-bottom: 2.25rem;
$tablet-space-between: 4.5rem;
$tablet-indent: 4.5rem;

//For now these values are the same but they're still defined here for the sake of future-proofing. 
$desktop-headline-top: $tablet-headline-top;
$desktop-space-between: $tablet-space-between;
$desktop-headline-bottom: 4rem;
//This needs to change based on the width of the window. 
//We get the width with 100vw, find how much larger the window is than our desktop breakpoint, 
//then divide it by 2 so that the indent can be applied to both sides. 
$base-desktop-indent: 15rem;
$desktop-indent: calc($base-desktop-indent + ((1vw * 100) - $desktop-breakpoint)/2);

//Here we can just set the headers and P tags to style set out in the style guide, then the pages can handle spacing. 

//Page Header
h1 {
    font-size: 3.5rem;
    line-height: 4.5rem;
    font-family: TitilliumWeb;
    font-weight: 600;

    @include tablet {
        font-size: 4rem;
        line-height: 5rem;
        font-family: TitilliumWeb;
        font-weight: 600;
    }
}

//Subheader
h2 {
    font-size: 2.5rem;
    line-height: 3.5rem;
    font-family: TitilliumWeb;
    font-weight: 600;
    @include tablet {
        font-size: 3rem;
        line-height: 3.5rem;
        font-family: TitilliumWeb;
        font-weight: 600;
    }
}

//Body Copy
.body-large {
    font-size: 2rem;
    line-height: 3rem;
    font-family: TitilliumWeb;
    font-weight: 400;

    @include tablet {
        font-size: 2rem;
        line-height: 3.2rem;
        font-family: TitilliumWeb;
        font-weight: 400;
    }

}
.body-medium{
    font-size: 2rem;
    line-height: 3rem;
    font-family: TitilliumWeb;
    font-weight: 400;

    @include tablet {
        font-size: 2rem;
        line-height: 3.4rem;
        font-family: TitilliumWeb;
        font-weight: 400;
    }
}
.body-small{
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: TitilliumWeb;
    font-weight: 400;

    @include tablet {
        font-size: 1.5rem;
        line-height: 2.225rem;
        font-family: TitilliumWeb;
        font-weight: 400;
    }
}
.label-text {
    font-size: 2rem;
    line-height: 2.5rem;
    font-family: TitilliumWeb;
    font-weight: 600;
    
    @include tablet {
        font-size: 2rem;
        line-height: 2.75rem;
        font-family: TitilliumWeb;
        font-weight: 600;
    }
}
.link{
    font-size: 2rem;
    line-height: 2.5rem;
    font-family: TitilliumWeb;
    font-weight: 600;
    
    @include tablet {
        font-size: 2rem;
        line-height: 2.75rem;
        font-family: TitilliumWeb;
        font-weight: 600;
    }
}
.button-text{
    font-size: 2rem;
    line-height: 2.5rem;
    font-family: TitilliumWeb;
    font-weight: 600;
    
    @include tablet {
        font-size: 2rem;
        line-height: 2.75rem;
        font-family: TitilliumWeb;
        font-weight: 600;
    }
}
