@use "../../styles/colors" as *;
@use "../../styles/partials" as *;

* {
    box-sizing: border-box;
}
.addItem {
  display: flex;
  flex-direction: column;
  @include tablet{
    flex-direction: row;
  }
  &__title{
    margin-bottom: 1rem;
  }
  &__text{
    padding:0.5rem;
    border-radius: 1rem;
    border:1px solid $outline;
    margin-bottom: 1rem;
  }
  &__select{
    padding:0.5rem;
    border-radius: 1rem;
    border:1px solid $outline;
    width:100%;
    margin-bottom: 1rem;
  }
  &__dropdown{
    width:24px;
    height:24px;
    position:absolute;
    right:12px;
    top:4px;
  }
  &__textarea{
    padding:0.5rem;
    border-radius: 1rem;
    border:1px solid $outline;
    height: 5rem;
    text-align: top;
    font-size: 0.8125rem;
    line-height: 1.25rem;
    font-family: TitilliumWeb;
    color:$text-primary;
    resize:none;
    margin-bottom: 1rem;
  }
  &__quantity{
    display:flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
  &__cancel{
    padding:0.5rem;
    border-radius: 1rem;
    border:1px solid $outline;
    outline: none;
    background-color: #FFF;
    width:50%;
    @include tablet{
      width: auto;
    }
  }
  &__submit{
    padding:0.5rem;
    border-radius: 1rem;
    border:1px solid $outline;
    outline: none;
    background-color: $button-background;
    color:$text-button;
    width:50%;
    @include tablet{
      width: auto;
    }
  }
  &__buttons{
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    background-color: $form-background;
    padding:$mobile-indent;
    @include tablet{
      justify-content: flex-end;
    }
  }
  &__error{
    color:red;
  }
  &__icon{
    display:inline;
    width:24px;
  }
  &__hide{
    display:none;
  }
}
.select-icon-styling{
  position: relative;
}
.radio-spacing{
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
 
  &__right{
    margin-left: auto;
    @include tablet{
      margin-left: 2rem;
    }
  }
}
.flex-section{
  display:flex;
  flex-direction: column;
  background-color: #FFF;
  padding: $mobile-indent ;
  border-top: 1px solid $divider;
  @include tablet{
    width:50%;
    border-right: 1px solid $divider;
    border-top:none;
    padding: 0 $tablet-indent;
    margin: $tablet-indent 0;
  }
}